@import url("../../../css/fonts.css");
@import url("../../../css/reset.css");
@import url("../../../css/modal.css");
@import url("../../../css/header.css");
@import url("../../../css/footer.css");
@import url("../../../css/quick_menu.css");
@import url("../../../css/go_top.css");
#wrap {
  width: 100%;
  position: relative;
}

#wrap #main {
  width: 100%;
  height: 700px;
  background-color: #99c;
  text-align: center;
}

#wrap #main h1 {
  font-size: 36px;
}
