#wrap {
   width:100%;
   position:relative;
   
   #quickBox {
    z-index:4;
    position: absolute;
    top:648.578125px;
    right:20px;

    width:80px;
    background:#fff;
    .row1-box {
       width:100%;
       margin:0 0 7px 0;
       border:1px solid #ddd;
       a {
          display: block;
          width:100%;
          img {
             width:100%;
          }
       }
    }
    .row2-box {
       width:100%;
       padding:0 0 7px 0;
       a {
          display: flex;
          width:100%;
          height:29px;
          align-items: center;
          justify-content: center;
          color:#444;
          border:1px solid #ddd;
          border-bottom:0;
          font-size: 12px;
          &:last-child {
             border-bottom:1px solid #ddd;
          }
          &:hover {
             color:rgb(95,0, 128);
          }
       }
    }
    .row3-box {
       width:100%;
       border:1px solid #ddd;
       padding:7px;
       > a {
          display: flex;
          width: 100%;
          height: 10px;
          align-items: center;
          justify-content: center;
          > img {
             width:15px;
          }
       }
       h2 {
          font-size:12px;
          text-align: center;
          padding:7px 0;
       }
       ul {
          width:100%;
          li {
             width:100%;
             .gap {
                padding: 3.5px 0;
                a {
                   img {
                      width:100%;
                   }
                }
             }
          }
       }
    }
   }

} 