@charset "UTF-8";

@import './_config.scss';

@import url('#{$path}fonts.css');
@import url('#{$path}reset.css');
@import url('#{$path}modal.css');
@import url('#{$path}header.css');
@import url('#{$path}footer.css');
@import url('#{$path}quick_menu.css');
@import url('#{$path}go_top.css');

#wrap {
   width:100%;
   position:relative;
   #main {
      position: relative;
      z-index: 2;
      width:100%;
      #section1 {
         width:100%;
         padding:0 0 40px 0;
         .slide-container {
            position: relative;
            width:100%;
            .slide-view {
               z-index:1;
               position: relative;
               overflow: hidden;
               width:100%;
               .slide-wrap {
                  position: relative;
                  width:calc(1903px*16);
                  margin:0 0 0 -1903px;
                  display: flex;                  
                  .slide {
                     width:1903px;
                     img {
                        width:100%;
                     }
                  }
               }
            }

            // 페이지 카운트
            .count-number-box {
               z-index:2;
               position: absolute;
               bottom:20px;
               right:23%;
               display: flex;
               align-items: center;
               justify-content: center;
               padding:0 13px;
               width:auto;
               height:23px;
               color:#fff;
               background:rgba(0,0,0, .15);
               border-radius:11.5px;
               em {font-size:14px;font-weight:400;}
               i {font-size:13px;margin:0 2px;}
            }

            // 좌우 화살버튼
            .prev-btn {               
               z-index: 2;
               position: absolute;
               top:50%;
               margin-top:-26px;
               left:15%;
               display: block;
               width:52px;
               height:52px;
               transform: rotate(180deg);
               img {width:100%;}
            }
            .next-btn {
               z-index: 2;
               position: absolute;
               top:50%;
               margin-top:-26px;
               right:15%;
               display: block;
               width:52px;
               height:52px;
               img {width:100%;}
            }

         }
      }

      #section2 {
         width:100%;
         padding:40px 0;
         .title{
            width:1064px;
            margin:0 auto;
            padding:0 0 30px 0;
            h2 {
               font-size: 28px;
               color:#333;
               font-weight: 500;
               text-align: center;
               user-select: none;
            }
         }

         .slide-container {
            position: relative;
            width:1064px;
            margin:0 auto;
            .slide-view{
               z-index:1;
               position: relative;
               width:100%;
               overflow: hidden;               
               .slide-wrap {
                  position: relative;
                  width:calc(266px*20);     
                  display: flex;             
                  .slide {
                     width:266px;
                     .gap {
                        margin:0 7px;
                        cursor: pointer;
                        a {
                           display: block;
                           width:100%;
                           overflow: hidden;
                           position: relative;
                           > img {
                              width:100%;
                              transition: all .5s;
                              position: relative;
                              z-index: 1;
                              &:hover {
                                 transform: scale(1.01);
                              }
                           }
                           span {
                              position: absolute;
                              right:15px;
                              bottom:15px;
                              z-index: 2;
                              width:45px;
                              height:45px;
                              img {
                                 width:100%;
                              }
                           }
                        }
                        .content {
                           background: #fff;
                           padding: 14px 0 0 0;
                           h2 {
                              font-size:16px;
                              line-height:120%;
                              color:#333;
                           }
                           h3 {
                              padding:10px 0 5px 0;
                              font-size:16px;
                              line-height:140%;
                              em {
                                 color:rgb(250,98,47);
                                 margin:0 8px 0 0;
                              }
                              span {
                                 color:#333;
                                 font-weight:700;
                              }
                           }
                           h4 {
                              s {
                                 font-size:14px;
                                 color:#bbb;
                              }
                           }
                        }
                     }
                  }
               }
            }

            .prev-btn {
               position: absolute;
               top:50%;
               margin-top:-70px;
               left:-30px;
               width:60px;
               height:60px;
               z-index:2;
               img {
                  width:100%;
               }
            }
            .next-btn {
               position: absolute;
               top:50%;
               margin-top:-70px;
               right:-30px;
               width:60px;
               height:60px;
               z-index:2;
               transform: rotate(180deg);
               img {
                  width:100%;
               }
            }

         }         
      }
      #section3 {
         transform: translateY(100px);
         opacity: 0;
         transition: all 2s;
         &.on {
            transform: translateY(0px);
            opacity: 1;
         }
         width:100%;
         padding:40px 0;
         .container {
            width:1064px;
            margin:0 auto;
            padding:0 7px;
            a {
               display: block;
               width:100%;
               img {
                  width:100%;
               }
            }
         }
      }
      #section4 {
         width:100%;
         padding:40px 0;
         .title{
            width:1064px;
            margin:0 auto;
            padding:0 0 30px 0;
            h2 {
               font-size: 28px;
               color:#333;
               font-weight: 500;
               text-align: center;
               user-select: none;
               img {
                  margin-top:-5px;
               }
            }
         }
         .slide-container {
            position: relative;
            width:1064px;
            margin:0 auto;
            .slide-view{
               z-index:1;
               position: relative;
               width:100%;
               overflow: hidden;               
               .slide-wrap {
                  position: relative;
                  width:calc(266px*20);     
                  display: flex;             
                  .slide {
                     width:266px;
                     .gap {
                        margin:0 7px;
                        cursor: pointer;
                        a {
                           display: block;
                           width:100%;
                           overflow: hidden;
                           position: relative;
                           > img {
                              width:100%;
                              transition: all .5s;
                              position: relative;
                              z-index: 1;
                              &:hover {
                                 transform: scale(1.01);
                              }
                           }
                           span {
                              position: absolute;
                              right:15px;
                              bottom:15px;
                              z-index: 2;
                              width:45px;
                              height:45px;
                              img {
                                 width:100%;
                              }
                           }
                        }
                        .content {
                           background: #fff;
                           padding: 14px 0 0 0;
                           h2 {
                              font-size:16px;
                              line-height:120%;
                              color:#333;
                           }
                           h3 {
                              padding:10px 0 5px 0;
                              font-size:16px;
                              line-height:140%;
                              em {
                                 color:rgb(250,98,47);
                                 margin:0 8px 0 0;
                              }
                              span {
                                 color:#333;
                                 font-weight:700;
                              }
                           }
                           h4 {
                              s {
                                 font-size:14px;
                                 color:#bbb;
                              }
                           }
                        }
                     }
                  }
               }
            }

            .prev-btn {
               position: absolute;
               top:50%;
               margin-top:-70px;
               left:-30px;
               width:60px;
               height:60px;
               z-index:2;
               img {
                  width:100%;
               }
            }
            .next-btn {
               position: absolute;
               top:50%;
               margin-top:-70px;
               right:-30px;
               width:60px;
               height:60px;
               z-index:2;
               transform: rotate(180deg);
               img {
                  width:100%;
               }
            }

         }         
      }
      #section5 {width:100%;  height:570px;background-color: #c9c; /* 임시 */}
   }
}
