#wrap {
  width: 100%;
  position: relative;
}

#wrap .gotop-btn {
  z-index: 5;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 58px;
  height: 58px;
}

#wrap .gotop-btn img {
  width: 100%;
}
