#wrap {
  width: 100%;
  position: relative;
}

#wrap #header {
  position: relative;
  z-index: 3;
  width: 100%;
  background: white;
}

#wrap #header .row1 {
  width: 100%;
}

#wrap #header .row1 .row1-1 {
  width: 1050px;
  margin: 0 auto;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
}

#wrap #header .row1 .row1-1 a {
  color: #333;
}

#wrap #header .row1 .row1-1 a.on {
  color: #5f0080;
}

#wrap #header .row1 .row1-1 i {
  color: #ccc;
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#wrap #header .row1 .row1-2 {
  width: 1050px;
  margin: 0 auto;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap #header .row1 .row1-2 .left {
  width: 325px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #header .row1 .row1-2 .left a {
  font-size: 18px;
}

#wrap #header .row1 .row1-2 .left a.logo1 {
  color: #5f0080;
  font-weight: 500;
}

#wrap #header .row1 .row1-2 .left a.logo2 {
  color: #b5b5b5;
  font-weight: 400;
}

#wrap #header .row1 .row1-2 .left a.logo2 img {
  vertical-align: top;
}

#wrap #header .row1 .row1-2 .left a img {
  width: auto;
}

#wrap #header .row1 .row1-2 .left a span {
  margin: 0 0 0 15px;
  vertical-align: middle;
}

#wrap #header .row1 .row1-2 .left i {
  color: #ccc;
  margin: 0 10px;
}

#wrap #header .row1 .row1-2 .center {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#wrap #header .row1 .row1-2 .center input {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 48px;
  background: #fff;
  border: 1px solid #5f0080;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 15px;
}

#wrap #header .row1 .row1-2 .center input:focus {
  outline: 0;
}

#wrap #header .row1 .row1-2 .center a {
  z-index: 2;
  position: absolute;
  top: 9px;
  right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 5px;
}

#wrap #header .row1 .row1-2 .center a img {
  width: 35px;
}

#wrap #header .row1 .row1-2 .right {
  width: 325px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#wrap #header .row1 .row1-2 .right a {
  margin: 0 0 0 20px;
}

#wrap #header .row1 .row1-2 .right a img {
  width: auto;
}

#wrap #header .row2 {
  width: 100%;
  height: 56px;
  background: #fff;
}

#wrap #header .row2.on {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#wrap #header .row2 .row2-container {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap #header .row2 .row2-container .left {
  width: 225px;
}

#wrap #header .row2 .row2-container .left a {
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #header .row2 .row2-container .left a:hover {
  color: #5f0080;
}

#wrap #header .row2 .row2-container .left a img {
  width: auto;
  margin: 0 5px 0 0;
}

#wrap #header .row2 .row2-container .center {
  width: 600px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #header .row2 .row2-container .center a {
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #333333;
}

#wrap #header .row2 .row2-container .center a:hover {
  color: #5f0080;
  text-decoration: underline;
}

#wrap #header .row2 .row2-container .right {
  width: 225px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #header .row2 .row2-container .right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 16px;
  width: 122px;
  height: 32px;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap #header .row2 .row2-container .right a em {
  color: #5f0080;
}

#wrap #header .row2 .row2-container .right a span {
  color: #666666;
}
