#wrap {
  width: 100%;
  position: relative;
}

#wrap #quickBox {
  z-index: 4;
  position: absolute;
  top: 648.578125px;
  right: 20px;
  width: 80px;
  background: #fff;
}

#wrap #quickBox .row1-box {
  width: 100%;
  margin: 0 0 7px 0;
  border: 1px solid #ddd;
}

#wrap #quickBox .row1-box a {
  display: block;
  width: 100%;
}

#wrap #quickBox .row1-box a img {
  width: 100%;
}

#wrap #quickBox .row2-box {
  width: 100%;
  padding: 0 0 7px 0;
}

#wrap #quickBox .row2-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #444;
  border: 1px solid #ddd;
  border-bottom: 0;
  font-size: 12px;
}

#wrap #quickBox .row2-box a:last-child {
  border-bottom: 1px solid #ddd;
}

#wrap #quickBox .row2-box a:hover {
  color: #5f0080;
}

#wrap #quickBox .row3-box {
  width: 100%;
  border: 1px solid #ddd;
  padding: 7px;
}

#wrap #quickBox .row3-box > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap #quickBox .row3-box > a > img {
  width: 15px;
}

#wrap #quickBox .row3-box h2 {
  font-size: 12px;
  text-align: center;
  padding: 7px 0;
}

#wrap #quickBox .row3-box ul {
  width: 100%;
}

#wrap #quickBox .row3-box ul li {
  width: 100%;
}

#wrap #quickBox .row3-box ul li .gap {
  padding: 3.5px 0;
}

#wrap #quickBox .row3-box ul li .gap a img {
  width: 100%;
}
