@charset "UTF-8";
@import url("./fonts.css");
@import url("./reset.css");
@import url("./modal.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./quick_menu.css");
@import url("./go_top.css");
#wrap {
  width: 100%;
  position: relative;
}

#wrap #main {
  position: relative;
  z-index: 2;
  width: 100%;
}

#wrap #main #section1 {
  width: 100%;
  padding: 0 0 40px 0;
}

#wrap #main #section1 .slide-container {
  position: relative;
  width: 100%;
}

#wrap #main #section1 .slide-container .slide-view {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#wrap #main #section1 .slide-container .slide-view .slide-wrap {
  position: relative;
  width: calc(1903px*16);
  margin: 0 0 0 -1903px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {
  width: 1903px;
}

#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide img {
  width: 100%;
}

#wrap #main #section1 .slide-container .count-number-box {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 13px;
  width: auto;
  height: 23px;
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 11.5px;
}

#wrap #main #section1 .slide-container .count-number-box em {
  font-size: 14px;
  font-weight: 400;
}

#wrap #main #section1 .slide-container .count-number-box i {
  font-size: 13px;
  margin: 0 2px;
}

#wrap #main #section1 .slide-container .prev-btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  left: 15%;
  display: block;
  width: 52px;
  height: 52px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#wrap #main #section1 .slide-container .prev-btn img {
  width: 100%;
}

#wrap #main #section1 .slide-container .next-btn {
  z-index: 2;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  right: 15%;
  display: block;
  width: 52px;
  height: 52px;
}

#wrap #main #section1 .slide-container .next-btn img {
  width: 100%;
}

#wrap #main #section2 {
  width: 100%;
  padding: 40px 0;
}

#wrap #main #section2 .title {
  width: 1064px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

#wrap #main #section2 .title h2 {
  font-size: 28px;
  color: #333;
  font-weight: 500;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#wrap #main #section2 .slide-container {
  position: relative;
  width: 1064px;
  margin: 0 auto;
}

#wrap #main #section2 .slide-container .slide-view {
  z-index: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap {
  position: relative;
  width: calc(266px*20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide {
  width: 266px;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap {
  margin: 0 7px;
  cursor: pointer;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap a {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap a > img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  z-index: 1;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap a > img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap a span {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
  width: 45px;
  height: 45px;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap a span img {
  width: 100%;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap .content {
  background: #fff;
  padding: 14px 0 0 0;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap .content h2 {
  font-size: 16px;
  line-height: 120%;
  color: #333;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap .content h3 {
  padding: 10px 0 5px 0;
  font-size: 16px;
  line-height: 140%;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap .content h3 em {
  color: #fa622f;
  margin: 0 8px 0 0;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap .content h3 span {
  color: #333;
  font-weight: 700;
}

#wrap #main #section2 .slide-container .slide-view .slide-wrap .slide .gap .content h4 s {
  font-size: 14px;
  color: #bbb;
}

#wrap #main #section2 .slide-container .prev-btn {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: -30px;
  width: 60px;
  height: 60px;
  z-index: 2;
}

#wrap #main #section2 .slide-container .prev-btn img {
  width: 100%;
}

#wrap #main #section2 .slide-container .next-btn {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  right: -30px;
  width: 60px;
  height: 60px;
  z-index: 2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#wrap #main #section2 .slide-container .next-btn img {
  width: 100%;
}

#wrap #main #section3 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
  width: 100%;
  padding: 40px 0;
}

#wrap #main #section3.on {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

#wrap #main #section3 .container {
  width: 1064px;
  margin: 0 auto;
  padding: 0 7px;
}

#wrap #main #section3 .container a {
  display: block;
  width: 100%;
}

#wrap #main #section3 .container a img {
  width: 100%;
}

#wrap #main #section4 {
  width: 100%;
  padding: 40px 0;
}

#wrap #main #section4 .title {
  width: 1064px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

#wrap #main #section4 .title h2 {
  font-size: 28px;
  color: #333;
  font-weight: 500;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#wrap #main #section4 .title h2 img {
  margin-top: -5px;
}

#wrap #main #section4 .slide-container {
  position: relative;
  width: 1064px;
  margin: 0 auto;
}

#wrap #main #section4 .slide-container .slide-view {
  z-index: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap {
  position: relative;
  width: calc(266px*20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide {
  width: 266px;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap {
  margin: 0 7px;
  cursor: pointer;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap a {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap a > img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  z-index: 1;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap a > img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap a span {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
  width: 45px;
  height: 45px;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap a span img {
  width: 100%;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap .content {
  background: #fff;
  padding: 14px 0 0 0;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap .content h2 {
  font-size: 16px;
  line-height: 120%;
  color: #333;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap .content h3 {
  padding: 10px 0 5px 0;
  font-size: 16px;
  line-height: 140%;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap .content h3 em {
  color: #fa622f;
  margin: 0 8px 0 0;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap .content h3 span {
  color: #333;
  font-weight: 700;
}

#wrap #main #section4 .slide-container .slide-view .slide-wrap .slide .gap .content h4 s {
  font-size: 14px;
  color: #bbb;
}

#wrap #main #section4 .slide-container .prev-btn {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: -30px;
  width: 60px;
  height: 60px;
  z-index: 2;
}

#wrap #main #section4 .slide-container .prev-btn img {
  width: 100%;
}

#wrap #main #section4 .slide-container .next-btn {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  right: -30px;
  width: 60px;
  height: 60px;
  z-index: 2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#wrap #main #section4 .slide-container .next-btn img {
  width: 100%;
}

#wrap #main #section5 {
  width: 100%;
  height: 570px;
  background-color: #c9c;
  /* 임시 */
}
